body {
  font-family:  sans-serif;
  max-width: 850px;
  margin: auto;
  padding: 20px;
  color: #333;
  background-color: #F5F4F0;
}

/* Header */
header h1 {
  font-size: 40px;
  margin-bottom: 5px;
  color: #e1624f;
  text-transform: uppercase;
}

.headline {
  font-weight: bold;
  color: #555;
  font-size: 16px;
}

/* Introdução */
.intro img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  border-radius: 20px;
  margin-top: 10px;
}

.caption {
  font-style: italic;
  margin-top: 15px;
 
}

.legenda {
  text-align: center;
}

/* Divisor */
.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

/* Atrações */
 
.atracoes img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  object-fit: fill;
  margin-top: 10px;
}

.atracoes ul {
  padding-left: 0;
  margin-left: 0;
}

.atracoes ul li {
    margin-left: -6px;
}

a {
  
  color: #e1624f; 
  font-weight: bold;
}

ul li {
  margin-bottom: 40px;
  list-style: none;
}

ul li::marker {
  color: #e1624f; 
}


footer {
  text-align: center;
  margin-top: 40px;
  padding: 15px;
  color: #555;
}
